################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.nuxt
/.vs
/dist
/node_modules
/obj
